
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */



/* ===========================================================
   GENERAL STYLESHEET BY BYINARY THEME    
   ============================================================*/


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
}

h1 {
    padding-top: 30px;
    color: #fff;
    font-weight: 800;
}

h5 {
    padding-bottom: 30px;
}
h4{
    margin-top: 4px;
}
.text-center {
    text-align: center;
}

.main-top-margin {
    margin-top: 120px;
}

.main-low-margin {
    margin-top: 55px;
}

a, a:hover {
    text-decoration: none;
}

p {
    line-height: 30px;
    margin-bottom: 23px;
}

.img-margin-product {
    margin-top: 30px;
}

.bottam-pad {
    padding-bottom: 40px;
}

.space-bottom {
    height: 120px;
}

.space-top {
    height: 70px;
}

.main-icon {
    font-size: 350px;
    color: rgba(102, 110, 197, 1);
}

.head-line {
    font-size: 70px;
    padding-bottom: 50px;
    line-height: 65px;
    font-weight: 900;
}
/* ==========================================================================
   COLOR CODES
   ========================================================================== */

.color-red {
    color: #ff0000;
}

.color-green {
    color: #07BB00;
}

.color-light-blue {
    color: #BB00BB;
}

.color-blue {
    color: #0052FF;
}

.color-brown {
    color: #EB8F2D;
   
}

.color-black {
    color: #000000;
}

.section {
    background-color: #4E63D1;
    color: #fff;
}
.circle-body {
 width: 150px;
height: 150px;
margin: 0 auto 14px auto;
border: 5px solid #ADA2EB;
border-radius: 100%;
background-color: #FFFFFF;
}
.icon-set {
    position: relative;
padding: 30px;
}
/* ==========================================================================
   PRICE SECTION
   ========================================================================== */

.active-div {
    background: #83BEFF!important;
}

#pricing-section .plan-main {
    background: #FFFFFF;
list-style: none;
margin: 0 0 20px;
text-align: center;
padding: 0;
border-bottom: 1px solid #e1e1e1;
border: 1px solid #E9E9E9;
}

    #pricing-section .plan-main li {
        padding: 10px 0;
        margin: 0 15px;
        border-bottom: 1px dashed #eee;
    }

        #pricing-section .plan-main li.plan-name {
            padding: 15px 0;
            font-size: 18px;
            font-weight: 700;
        }

        #pricing-section .plan-main li.plan-price {
            color: #666;
            padding: 15px 0;
            font-size: 48px;
        }

        #pricing-section .plan-main li.plan-action {
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 0;
        }

   
        #pricing-section .plan-main.featured .plan-price {
            color: #fff;
            background-color: #242424;
            border-bottom-color: #52b6ec;
            margin: 0;
        }



/*==========================================
   SOCIAL ICON STYLES
    =====================================================*/


.color-facebook {
    color: #3B5998;
}

.color-twitter {
    color: #00aced;
}

.color-google-plus {
    color: #dd4b39;
}

.color-linkedin {
    color: #007bb6;
}

.color-pinterest {
    color: #cb2027;
}
/* ===========================================================
   COMPONENT.CSS  CHANGES   
   ============================================================*/
.slideshow nav span.nav-prev, .slideshow nav span.nav-next {
left: 33%!important;

}
.slideshow {
    z-index: 1500!important; 
}
.slideshow nav span.nav-close {
color: #FF0000;
}
    .slideshow nav span {
        color: #FF0000;
    }
/* ===========================================================
   SLIDER ADJUSTMENTS (slider.css)  
   ============================================================*/

     .slidesjs-container {
            height:550px!important;
        }
#slides {
    border:1px dashed #e1e1e1;
    padding:0px 0px 15px 0px;
}
/* ===========================================================
   BOOTSTRAP ELEMENTS CHANGES   
   ============================================================*/
.navbar {
    font-weight: 500;
    font-size: 14px;
}

.navbar-inverse {
    background: #000;
    border-color: #000;
}

    .navbar-inverse .navbar-nav > .active > a {
        background: #ffffff;
    }

    .navbar-inverse .navbar-brand {
        color: #fff;
        font-weight: bolder;
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 2px;
    }

    .navbar-inverse :hover .navbar-brand:hover {
        color: #fff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #FFFFFF;
    }


/* ==========================================================================
   FOOTER SECTION
   ========================================================================== */


#footer {
    background-color: #000;
    color: #fff;
    padding: 30px;
}

.chat
{
border-style:solid;
border-width:3px;
border-radius:10px;
padding: 5px;
}

.chat-disabled
{
background-color: silver;
border-color: gray;
}

.chat-enabled
{

border-color: #0052FF;
}

.chat-controls
{
display:block;
width: 100%;
margin-top: 5px;
}

#chat-input
{
width:80%;
float: left;
}

#chat-send
{
float: right;
}

.conversation
{
width:100%;
}

.conversation-sent,.conversation-recd
{
margin-top: 3px;
padding: 3px 5px 3px 5px;
max-width: 80%;
clear: both;
}

.conversation-sent
{
text-align: left;
margin-right: auto;
}

.conversation-recd
{
margin-left: auto;
text-align: right;
}

.conversation-sent-text
{
display: inline-block;
background-color: #0052FF;
width: 30%;
font-weight: bold;
color: white;
padding: 3px;

border-radius: 5px 5px 5px 0px;	
-webkit-border-radius: 5px 5px 5px 0px;
-moz-border-radius: 5px 5px 5px 0px;
-o-border-radius: 5px 5px 5px 0px;
-ms-border-radius: 5px 5px 5px 0px;
}

.conversation-recd-text
{
display: inline-block;
background-color: #FF7100;
width: 30%;
font-weight: bold;
color: white;
padding: 3px;

border-radius: 5px 5px 0px 5px;	
-webkit-border-radius: 5px 5px 0px 5px;	
-moz-border-radius: 5px 5px 0px 5px;	
-o-border-radius: 5px 5px 0px 5px;	
-ms-border-radius: 5px 5px 0px 5px;	
}



.frame {
  display: none;
}